node_modules
.DS_Store
dist
dist-ssr
*.local
.claude/settings.json
.dfx
.icp

**/*.map
vite.config.*js
vitest.config.*js
frontend/*.*js
frontend/**/*.js
frontend/lib/*.js

**/*~
target/
logs/
**/*.agdai
opetopic-*/lib/

.mops
